ion-menu {
    background: var(--ion-item-background,
            var(--ion-background-color, rgb(139, 133, 133)));
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ion-title.title-large {
    text-align: center;
    color: #c74b4b;
    font-size: 30px;
  }
  ion-group{
    text-align: center;
  }
 
  ion-toolbar {
    --background: #5b595c;
  }
  ion-button{
    --background: #c74b4b
  }